<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.sample-invoice {
  max-width: 1000px;
  margin: 20px auto;
  display: block;
  color: #333;
  height: 100%;
  font-family: "Open Sans", Helvetica, sans-serif;
  cursor: default;
  background: #fff;
  padding: 64px 12px 32px 12px;
}
.sample-invoice .header {
  margin-bottom: 0.8em;
  color: #fff;
  text-align: center;
  width: 400px;
}
.sample-invoice .prehead {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 0.6em;
  display: inline-block;
}
.sample-invoice .contact-info {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 10em;
}
@media (min-width: 400px) {
  .sample-invoice .contact-info {
    float: left;
    width: 66.6666666667%;
  }
}
.sample-invoice .contact-info span {
  white-space: nowrap;
  display: block;
}
.sample-invoice .project-info {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 10em;
}
@media (min-width: 400px) {
  .sample-invoice .project-info {
    float: left;
    width: 33.3333333333%;
  }
}
.sample-invoice .project-info span {
  white-space: nowrap;
  display: block;
}
.sample-invoice .project-info .project {
  padding: 0.5em;
}
.sample-invoice .project-info .totals {
  padding: 1em;
  color: #fff;
  margin-top: 0.8em;
}
.sample-invoice .project-info .totals:before,
.sample-invoice .project-info .totals:after {
  content: " ";
  display: table;
}
.sample-invoice .project-info .totals:after {
  clear: both;
}
.sample-invoice .project-info .totals small {
  margin-top: 0.425em;
}
.sample-invoice .project-info .totals small:before {
  content: "(";
}
.sample-invoice .project-info .totals small:after {
  content: ")";
}
.sample-invoice .total-cost {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 10em;
  border-top: 4px solid #333333;
  margin-top: 2em;
  padding: 1em 1em 0em 1em;
}
@media (min-width: 400px) {
  .sample-invoice .total-cost {
    float: left;
    width: 33.3333333333%;
  }
}
@media (min-width: 400px) {
  .sample-invoice .total-cost {
    margin-left: 66.6666666667%;
  }
}
.sample-invoice .total-cost span.tax {
  color: #777777;
}
.sample-invoice .total-cost span.value {
  white-space: nowrap;
  display: inline;
  float: right;
}
.sample-invoice .total-cost span.prehead {
  white-space: nowrap;
  display: inline;
  margin-right: 1em;
}
.sample-invoice .body {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 1.2em;
  margin-top: 2em;
}
@media (min-width: 400px) {
  .sample-invoice .body {
    float: left;
    width: 100%;
  }
}
.sample-invoice li {
  list-style-type: none;
}
.sample-invoice .header a,
.sample-invoice .header p {
  color: white;
}
.sample-invoice .right {
  float: right;
}
.sample-invoice li.enabled {
  padding: 6px 16px;
}
.sample-invoice li.disabled {
  display: none;
}
.sample-invoice li.enabled.paid-prev {
  padding: 6px 16px;
  color: #777777;
}
.sample-invoice .totaltime {
  padding: 6px 16px;
  width: 100%;
  display: block;
}
.sample-invoice-header {
  margin-bottom: 2em;
}
.sample-invoice-header h1 {
  text-align: center;
  font-weight: bold;
  font-size: 8rem;
}
.sample-invoice-header h2 {
  text-align: center;
  font-weight: normal;
  font-size: 4rem;
  margin-top: 0em;
}
.sample-invoice-header h3 {
  text-align: center;
  font-weight: normal;
  font-size: 1.6rem;
  margin-top: 0em;
  color: #777777;
}
@media print {
  body, .header, .body, a {
    color: #000 !important;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: transparent;
  }
}
</style>

<body>
  <div class="sample-invoice">
    <div class="contact-info">
      <span class="name">John Smith</span>
      <span class="address">123 Oak Street</span>
      <span class="address-2">Syracuse, NY 13210</span>
    </div>
    
    <div class="project-info">
      <span class="project">
        <span class="prehead">Project</span>
        <span class="address">
          <%= timecard.name || args.name || "My Invoice" %> -  <%= timecard.tagline || args.tagline || "" %>
        </span>
      </span>
      <span class="totals" style="background-color: <%= timecard.primaryColor %>;">
        <span class="prehead">Amount Due</span>
        <span class="pull-left">$874.00</span>
        <small class="pull-right">656 minutes</small>
      </span>
    </div>
    
    <div class="body">
      <span class="prehead">Breakdown</span>
        <span>
          <li class="enabled paid-prev">
            Previously paid
            <span class="right"><%= paidTime %> min</span>
          </li>
        </span>
        <span>
          <% timecard.card.map((stamp) => { %>
            <% stamp.times.map((time) => { %>
              <li class="<%= stamp.disabled ? "disabled" : "enabled" %>">
                <%= stamp.date %>
                <span class="right"><%= time.start %> to <%= time.end %></span>
              </li>
            <% }); %>
          <% }); %>
        </span>
      <span class="total-cost" style="border-color: <%= timecard.primaryColor %>;">
        <% if (timecard.taxPercent) { %>
          <span class="prehead tax">Tax</span>
          <span class="value tax"><%= total.taxPercent %></span>
        <% } %>
        <br />
        <span class="prehead">Total</span>
        <% if (typeof totalCost !== "undefined" && totalCost) { %>
          <span class="value">$<%= totalCost %></span>
        <% } %>
      </span>
    </div>
  </div>
</body>
